universe = vanilla
Executable = DIRECTORY/PREFIX.csh
Requirements   =  OpSys == "LINUX" && (Arch != "DUMMY")
request_disk = 100000000
Should_Transfer_Files = YES
WhenToTransferOutput = ON_EXIT
Output = DIRECTORY/PREFIX.stdout
Error = DIRECTORY/PREFIX.stderr
Log = DIRECTORY/PREFIX.condor.log
notification = Never
use_x509userproxy = true
Queue 1
