universe = vanilla
Executable = DIRECTORY/PREFIX.csh
Requirements   =  OpSys == "LINUX" && (Arch != "DUMMY")
Should_Transfer_Files = YES
WhenToTransferOutput = ON_EXIT
Output = DIRECTORY/PREFIX.stdout
Error = DIRECTORY/PREFIX.stderr
Log = DIRECTORY/PREFIX.condor.log
notification = Never
use_x509userproxy = true
x509userproxy = /tmp/x509up_u47452
Queue 1
